body {
  padding-top: 20px;
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}

form {
  display: inline-block;
}

.btn {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #333;
  text-align: center;
}

h3 {
  color: #333;
  text-align: center;
}

p {
  color: #333;
  text-align: center;
  line-height: 1.6;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
  min-width: 400px;
  overflow: hidden;
}

th,
td {
  padding: 15px;

}